<main>
    <section>

        <h1>Entre em contato conosco</h1>
       
        <div class="contacts">
            <div class="box-left">
                <h2>E-mails</h2>

                <h3><span class="material-symbols-outlined">chevron_right</span>Suporte Comercial</h3>
                <p><span class="material-symbols-outlined">mail</span>
                    gerencia&#64;diamondaviacao.com.br</p>
                <p><span class="material-symbols-outlined">mail</span>
                    comercial&#64;diamondaviacao.com.br</p>

                <h3><span class="material-symbols-outlined">chevron_right</span>Suporte Técnico</h3>
                <p><span class="material-symbols-outlined">mail</span>
                    engenharia&#64;diamondaviacao.com.br</p>
            </div>
            <div class="box-right">
            
                <h2>Telefones</h2>
                <p><span class="material-symbols-outlined">call</span>
                   Goiânia: (62) 3515-9900</p>
                <p><span class="material-symbols-outlined">call</span>
                    São Paulo: (11) 2221-5922</p>

                <h2>Redes Sociais</h2>

                <div class="box-social">
                    <span><img src="../../../assets/whatsapp.svg"></span>
                    <span><img src="../../../assets/instagram.svg"></span>
                    <span><img src="../../../assets/facebook.svg"></span>
                   
                </div>
           </div>
        </div>


        <form>
            <input placeholder="Nome" type="text" name="name-user">
            <input placeholder="E-mail" type="email" name="email-user">
            <textarea placeholder="Digite sua mensagem..."></textarea>

            <button (click)="functionTemp($event)">Enviar</button>
        </form>
    </section>
</main>