<main>

   <div>
        <app-logo-diamond classLogo="logo-footer"></app-logo-diamond>
        <section>
            <p>Av. Santos Dumont, 1317 - Setor Santa Genoveva</p>
            <h4>Goiânia - GO</h4>
            <p>74672-420</p>
            <h4 class="copy"> &#169; Diamond Aviação. Todos os direitos reservados</h4>
        </section>

        <aside (click)="goMaps()">
            <span class="material-symbols-outlined">map</span>
            <p>Ver no mapa</p>
        </aside>
        
   </div>

   
</main>

