<main>
 <div id="first-container">
  <header>
    <app-logo-diamond classLogo="logo-header" (click)="scrollToAnchor('first-container')"></app-logo-diamond>

    <nav>
      <a (click)="scrollToAnchor('about-us')">Sobre nós</a>
      <a (click)="scrollToAnchor('qualifications')">Qualificações</a>
      <a (click)="scrollToAnchor('services')">Serviços</a>
      <a (click)="scrollToAnchor('contact')">Contato</a>
    </nav>

    <div class="BR">
      <span class="material-symbols-outlined">language</span>
      BRAZIL
    </div>
  </header>

  <div class="logo-diamond">
    <app-logo-diamond classLogo="logo-center"></app-logo-diamond>
    <p>Garantir e melhorar continuamente a qualidade de seus serviços, investindo em tecnologia e capacitação de seu pessoal como forma de <span>"PRESERVAR VIDAS"</span>.</p>
    <button (click)="scrollToAnchor('contact')">Entre em contato</button>
  </div>
 </div>

 <div id="about-us">
 <app-about-us></app-about-us>
</div>

<div id="qualifications">
  <app-qualifications></app-qualifications>
</div>

<div id="services">
  <app-services></app-services>
</div>

<div id="contact">
  <app-contact></app-contact> 
</div>

<app-footer></app-footer>

</main>


