<main>
   <div class="text">
    <h1>Quem somos</h1>
        <p>A <span>DIAMOND AVIAÇÃO</span> é uma equipe experiente no mercado aeronáutico, focada em fornecer serviços de revisão de hélices de alta qualidade. Comprometidos com a excelência, investem na capacitação dos colaboradores, cultivam relacionamentos sólidos com os clientes e se mantêm atualizados com as mais recentes tecnologias em parceria com os fabricantes.</p>
        <p style="text-indent: 50px;">Nosso <span>DIFERENCIAL</span> é ser a oficina de hélices mais bem montada do país, oferecendo serviços de alta qualidade em revisão de hélices e motores aeronáuticos. Nossa moderna infraestrutura proporciona comodidade e segurança aos clientes, com diferenciais como equipamentos avançados, pessoal capacitado, certificação ISO 9001, instalações de primeira linha e parcerias exclusivas com fabricantes de hélices.</p>
   </div>

   <div class="image-about-us">
    <span class="material-symbols-outlined">image</span>
   </div>
</main>
