@defer (on viewport) {
  <main>
    <section class="services-description">
        <div class="text-service-description">
            <h1>{{ descriptionsHover.title }}</h1>
            <p>{{ descriptionsHover.description }}</p>
          </div>
      </section>
      
      <section class="services-name">
        <h1>Nossos serviços</h1>
        <p>A Diamond possui certificação para atender sua demanda e a de terceiros com a eficiência necessária para diversos ensaios.</p>
        <span class="material-symbols-outlined">expand_more</span>
        <ul>
          <li *ngFor="let description of descriptions" (mouseover)="showDescription(description)">
            {{ description.title }}
          </li>
        </ul>
      </section>
</main>

} @placeholder {
  <span></span>
}